# Authentication

[oauth2]: http://oauth.net/2/
[affiliate-registration]: http://goo.gl/forms/iLvnt6wWuwq0iEOT2

The viagogo API uses [OAuth2][oauth2] for all authentication.
OAuth2 is a protocol that lets external applications access public viagogo
resources and private viagogo user details without getting their password.

All developers need to [register their application][affiliate-registration]
before getting started. Registered applications are assigned a unique Client ID
and Client Secret that are required for authentication.

<aside class="notice">
  <strong>Tokens are passwords.</strong>
  <p>Keep in mind that your application's Client ID and Client Secret and all
access tokens should be considered as sensitive as passwords and should not be
shared.</p>
</aside>

<aside class="notice">
  <strong>SSL absolutely required</strong>
  <p>OAuth2 is only secure if it is used over SSL so all requests to
authentication and API endpoints must use HTTPs.</p>
</aside>
